<footer class="bg-white text-black grid grid-cols-2 md:grid-cols-6 md:px-[3.19rem] md:py-[2.56rem] px-[0.88rem] py-[0.62rem]">
    <div class="text-xs col-span-3 md:text-[2.25rem] leading-[0.9] uppercase">
        <h3>PARTH SURATWALA</h3>
    </div>
    <div class="text-xs col-span-3 md:text-[2.25rem] leading-[0.9] uppercase">
        <a href="#" class="flex justify-end"><p class="mr-2">BACK TO TOP</p><svg class="md:h-[30px] block h-[9px] md:" viewBox="0 0 6 9" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2.62473 7.67957C2.62473 7.88682 2.79274 8.05484 3 8.05484C3.20726 8.05484 3.37527 7.88682 3.37527 7.67957L2.62473 7.67957ZM3.26536 0.909494C3.1188 0.762942 2.8812 0.762942 2.73464 0.909494L0.346427 3.29771C0.199874 3.44426 0.199874 3.68187 0.346427 3.82843C0.492979 3.97498 0.730588 3.97498 0.877141 3.82843L3 1.70557L5.12286 3.82843C5.26941 3.97498 5.50702 3.97498 5.65357 3.82843C5.80013 3.68187 5.80013 3.44426 5.65357 3.29771L3.26536 0.909494ZM3.37527 7.67957L3.37527 1.17485L2.62473 1.17485L2.62473 7.67957L3.37527 7.67957Z"
                    fill="black" />
            </svg>
            </span></a>
    </div>
    <div class="flex items-end mt-[1.64rem] col-span-2 md:col-span-1">
        <div class="flex items-center gap-4 md:gap-[1.25rem]">
            <a href="#" class="block">
                <svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.6645 0.5C10.623 0.5 11.5095 0.575 12.3195 0.797C13.131 0.9455 13.7955 1.2425 14.385 1.613C14.976 1.985 15.4185 2.504 15.7125 3.1715C16.008 3.839 16.1565 4.6565 16.1565 5.546C16.1565 6.5855 15.9345 7.475 15.4185 8.1425C14.976 8.8115 14.238 9.404 13.353 9.8495C14.607 10.2215 15.5655 10.889 16.1565 11.78C16.746 12.6695 17.115 13.7825 17.115 15.044C17.115 16.0835 16.893 16.973 16.524 17.7155C16.1565 18.458 15.5655 19.1255 14.901 19.571C14.1792 20.0485 13.3812 20.3995 12.5415 20.609C11.6565 20.8325 10.7715 20.981 9.8865 20.981H0V0.5H9.6645ZM9.0735 8.81C9.885 8.81 10.5495 8.588 11.0655 8.2175C11.5815 7.847 11.8035 7.178 11.8035 6.362C11.8035 5.9165 11.7285 5.4725 11.5815 5.1755C11.4345 4.8785 11.2125 4.655 10.9185 4.433C10.623 4.2845 10.3275 4.136 9.9585 4.0625C9.5895 3.9875 9.222 3.9875 8.778 3.9875H4.5V8.8115H9.075L9.0735 8.81ZM9.2955 17.567C9.738 17.567 10.1805 17.492 10.5495 17.4185C10.9185 17.3435 11.2875 17.1965 11.5815 16.973C11.8821 16.7558 12.1335 16.4778 12.3195 16.157C12.4665 15.7865 12.615 15.341 12.615 14.822C12.615 13.7825 12.3195 13.04 11.73 12.521C11.139 12.0755 10.3275 11.8535 9.369 11.8535H4.5V17.5685L9.2955 17.567ZM23.5335 17.492C24.123 18.086 25.008 18.383 26.1885 18.383C27 18.383 27.738 18.161 28.3275 17.7905C28.9185 17.345 29.2875 16.8995 29.4345 16.4555H33.0495C32.4585 18.2345 31.5735 19.496 30.3945 20.3135C29.2125 21.0545 27.8115 21.5 26.115 21.5C25.0295 21.5034 23.9532 21.3018 22.9425 20.906C22.033 20.5649 21.2219 20.0043 20.5815 19.274C19.8964 18.5909 19.3901 17.7496 19.107 16.8245C18.738 15.86 18.5895 14.822 18.5895 13.634C18.5895 12.521 18.738 11.483 19.107 10.517C19.4624 9.58755 19.9879 8.73246 20.6565 7.9955C21.3302 7.30377 22.1314 6.74905 23.016 6.362C24.0011 5.96609 25.0534 5.76439 26.115 5.768C27.369 5.768 28.476 5.9915 29.4345 6.5105C30.3945 7.0295 31.131 7.6235 31.7205 8.5145C32.3115 9.3305 32.7555 10.295 33.0495 11.3345C33.1965 12.3725 33.27 13.412 33.1965 14.5985H22.5C22.5 15.7865 22.9425 16.8995 23.5335 17.4935V17.492ZM28.1805 9.701C27.6645 9.182 26.853 8.885 25.893 8.885C25.23 8.885 24.7125 9.035 24.27 9.257C23.8275 9.479 23.5335 9.776 23.238 10.073C22.966 10.3597 22.7858 10.7212 22.7205 11.111C22.647 11.483 22.5735 11.78 22.5735 12.0755H29.2125C29.0655 10.9625 28.6965 10.2215 28.1805 9.701ZM21.6885 1.91H29.9505V3.914H21.69V1.91H21.6885Z"
                        fill="#1D1D1F" />
                </svg>
            </a>
            <a href="#" class="block">
                <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.92534 0H21.5253C26.3253 0 30.2253 3.9 30.2253 8.7V21.3C30.2253 23.6074 29.3087 25.8203 27.6772 27.4518C26.0456 29.0834 23.8327 30 21.5253 30H8.92534C4.12534 30 0.225342 26.1 0.225342 21.3V8.7C0.225342 6.39262 1.14195 4.17974 2.77351 2.54817C4.40508 0.916605 6.61796 0 8.92534 0ZM8.62534 3C7.19317 3 5.81966 3.56893 4.80697 4.58162C3.79427 5.59432 3.22534 6.96783 3.22534 8.4V21.6C3.22534 24.585 5.64034 27 8.62534 27H21.8253C23.2575 27 24.631 26.4311 25.6437 25.4184C26.6564 24.4057 27.2253 23.0322 27.2253 21.6V8.4C27.2253 5.415 24.8103 3 21.8253 3H8.62534ZM23.1003 5.25C23.5976 5.25 24.0745 5.44754 24.4262 5.79917C24.7778 6.15081 24.9753 6.62772 24.9753 7.125C24.9753 7.62228 24.7778 8.09919 24.4262 8.45082C24.0745 8.80246 23.5976 9 23.1003 9C22.6031 9 22.1261 8.80246 21.7745 8.45082C21.4229 8.09919 21.2253 7.62228 21.2253 7.125C21.2253 6.62772 21.4229 6.15081 21.7745 5.79917C22.1261 5.44754 22.6031 5.25 23.1003 5.25ZM15.2253 7.5C17.2145 7.5 19.1221 8.29018 20.5286 9.6967C21.9352 11.1032 22.7253 13.0109 22.7253 15C22.7253 16.9891 21.9352 18.8968 20.5286 20.3033C19.1221 21.7098 17.2145 22.5 15.2253 22.5C13.2362 22.5 11.3286 21.7098 9.92204 20.3033C8.51552 18.8968 7.72534 16.9891 7.72534 15C7.72534 13.0109 8.51552 11.1032 9.92204 9.6967C11.3286 8.29018 13.2362 7.5 15.2253 7.5ZM15.2253 10.5C14.0319 10.5 12.8873 10.9741 12.0434 11.818C11.1994 12.6619 10.7253 13.8065 10.7253 15C10.7253 16.1935 11.1994 17.3381 12.0434 18.182C12.8873 19.0259 14.0319 19.5 15.2253 19.5C16.4188 19.5 17.5634 19.0259 18.4073 18.182C19.2512 17.3381 19.7253 16.1935 19.7253 15C19.7253 13.8065 19.2512 12.6619 18.4073 11.818C17.5634 10.9741 16.4188 10.5 15.2253 10.5Z"
                        fill="#1D1D1F" />
                </svg>
            </a>
            <a href="#" class="block">
                <svg width="31" height="24" viewBox="0 0 31 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M27.2253 0H3.22534C1.57534 0 0.240342 1.35 0.240342 3L0.225342 21C0.225342 22.65 1.57534 24 3.22534 24H27.2253C28.8753 24 30.2253 22.65 30.2253 21V3C30.2253 1.35 28.8753 0 27.2253 0ZM27.2253 6L15.2253 13.5L3.22534 6V3L15.2253 10.5L27.2253 3V6Z"
                        fill="#1D1D1F" />
                </svg>
            </a>
            <a href="#" class="block">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M24.2253 0.5C25.021 0.5 25.7841 0.81607 26.3467 1.37868C26.9093 1.94129 27.2253 2.70435 27.2253 3.5V24.5C27.2253 25.2956 26.9093 26.0587 26.3467 26.6213C25.7841 27.1839 25.021 27.5 24.2253 27.5H3.22534C2.42969 27.5 1.66663 27.1839 1.10402 26.6213C0.541412 26.0587 0.225342 25.2956 0.225342 24.5V3.5C0.225342 2.70435 0.541412 1.94129 1.10402 1.37868C1.66663 0.81607 2.42969 0.5 3.22534 0.5H24.2253ZM23.4753 23.75V15.8C23.4753 14.5031 22.9601 13.2593 22.0431 12.3422C21.126 11.4252 19.8822 10.91 18.5853 10.91C17.3103 10.91 15.8253 11.69 15.1053 12.86V11.195H10.9203V23.75H15.1053V16.355C15.1053 15.2 16.0353 14.255 17.1903 14.255C17.7473 14.255 18.2814 14.4762 18.6753 14.8701C19.0691 15.2639 19.2903 15.798 19.2903 16.355V23.75H23.4753ZM6.04534 8.84C6.71369 8.84 7.35466 8.5745 7.82725 8.10191C8.29984 7.62932 8.56534 6.98835 8.56534 6.32C8.56534 4.925 7.44034 3.785 6.04534 3.785C5.37302 3.785 4.72823 4.05208 4.25283 4.52748C3.77742 5.00289 3.51034 5.64768 3.51034 6.32C3.51034 7.715 4.65034 8.84 6.04534 8.84ZM8.13034 23.75V11.195H3.97534V23.75H8.13034Z"
                        fill="#1D1D1F" />
                </svg>
            </a>
        </div>
    </div>
    <div class=" col-span-6 md:col-span-5 text-right mt-[5.86rem] md:mt-[9.31rem]">
        <h3 class=" text-[5.679rem] md:text-[8rem] lg:text-[18.68rem] ml-auto leading-[0.7]">©2023</h3>
    </div>
</footer>
</main>
<script src="/js/index.js"></script>

</body>

</html>