<nav class="flex justify-between items-center h-[3.125rem] md:h-[9.375rem] leading-tight text-capitalize font-sans gap-[0.5rem] md:gap-[1rem] text-[1.125rem] md:text-[1.5rem] font-normal font-weight-400">
    <div class=""><a href="/" class="text-white no-underline hover:text-white">HOME</a></div>
    <div class="flex-grow"><hr class="border-b-[0.0625rem] border-white"></div>
    <div><a href="/" class="text-white no-underline hover:text-white">PORTFOLIO</a></div>
    <div class="flex-grow"><hr class="border-b-[0.0625rem] border-white"></div>
    <div><a href="/" class="text-white no-underline hover:text-white">CONTACT</a></div>
</nav>
<main class="border-[0.0625rem] font-normal font-weight-400 border-white">