<%- include('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %>

        <header
            class="lg:text-clamp-lg md:text-clamp-md xl:text-clamp-xl 2xl:text-clamp-2xl sm:text-clamp-sm text-clamp-xs uppercase leading-[0.5]">
            <div class="flex p-[0.42rem] md:p-[2rem] justify-between border-b-[0.0625rem] border-white">
                <h1>PARTH</h1>
                <h1>SURATWALA</h1>
            </div>
            <div class="flex p-[0.42rem] md:p-[2rem]  justify-between border-b-[0.0625rem] border-white">
                <h1>cG</h1>
                <h1>gENERALIST</h1>
            </div>
            <div class="flex p-[0.42rem] md:p-[2rem]  pb-0 justify-between ">
                <h1>I</h1>
                <h1>REALISE</h1>
                <h1>THE</h1>
            </div>
            <div
                class="flex p-[0.42rem] md:p-[2rem] pt-0 border-b-[0.0625rem] border-white justify-between mt-[0.7rem] md:mt-[0.4rem]">
                <h1 class="ml-[5%]">UNREAL</h1>
            </div>
        </header>
        <div
            class="items-center justify-end py-[1.94rem] md:pb-[4.25rem] md:pt-[3.69rem] px-[0.69rem] md:px-[1.69rem] border-b-[0.0625rem] border-white">
            <div
                class="text-white hidden md:flex no-underline hover:text-white italic text-2xl font-thin pb-[1.94rem] md:pb-[3.69rem] pr-[2.31rem]">
                <div class="ml-auto mr-2">SCROLL</div>
                <div class="mt-1.5"><img src="/images/arrow-2.svg" alt=""></div>
            </div>
            <div class="grid grid-cols-5 text-[0.7rem] md:text-[1.25rem] leading-[1.2] font-normal">
                <div class="col-span-3 md:col-span-3">
                    <p class="md:max-w-[29rem] pb-[31.25rem] ">
                        Some ideas need more than two dimensions, I add the third. Building on foundations of good
                        visual communication, I construct the scenes and renders that satisfy your specific
                        requirements.
                    </p>
                    <h2
                        class="lg:text-clamp-lg md:text-clamp-md xl:text-clamp-xl 2xl:text-clamp-2xl sm:text-clamp-sm text-clamp-xs uppercase leading-[0.7] ">
                        ABOUT ME</h2>
                </div>
            </div>
        </div>
        <div
            class="border-b-[0.0625rem] about hover:cursor-pointer after:mix-blend-difference group after:absolute after:content-[''] after:top-0 after:bottom-0 after:w-full after:h-[200%] relative overflow-hidden hover:after:translate-y-0 after:bg-[linear-gradient(0deg,#000_50%,#fff_50%)] after:transition-all after:duration-300 after:ease-in after:translate-y-1/2 from-white to-black transition-all duration-300 ease-in border-white md:py-[2.5rem] py-[0.87rem] flex arrowmouse">
            <div
                class="leading-[0.7] pl-[0.69rem] md:pl-[1.69rem] text-[0.935rem] md:text-[3.75rem] font-thin uppercase">
                EDUCATION</div>
            <div class="ml-auto relative mr-[2.79rem]">
                <svg viewBox="0 0 24 39" class="fill-white  transition-all h-full duration-300 ease-in"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M13.5 2C13.5 1.17157 12.8284 0.5 12 0.5C11.1716 0.5 10.5 1.17157 10.5 2L13.5 2ZM10.9393 38.0611C11.5251 38.6469 12.4749 38.6469 13.0607 38.0611L22.6066 28.5152C23.1924 27.9294 23.1924 26.9797 22.6066 26.3939C22.0208 25.8081 21.0711 25.8081 20.4853 26.3939L12 34.8792L3.51472 26.3939C2.92893 25.8081 1.97918 25.8081 1.3934 26.3939C0.80761 26.9797 0.80761 27.9294 1.3934 28.5152L10.9393 38.0611ZM10.5 2L10.5 37.0005L13.5 37.0005L13.5 2L10.5 2Z" />
                </svg>
            </div>
        </div>
        <div
            class="border-b-[0.0625rem] max-h-0 origin-top overflow-hidden transition-all duration-1000 ease-in border-white px-[0.69rem] md:px-[1.69rem]">
            <div
                class="flex justify-between md:my-[2.5rem] my-[0.87rem] items-center gap-x-[1.65rem] md:gap-x-[3.44rem]">
                <div class="h-fit">
                    <img class="h-[3.39488rem] md:h-[7.6875rem]" src="/images/adobe-photoshop.png" alt="">
                </div>
                <div class="text-right">
                    <h3 class="md:text-[5rem] texy-[1.247rem] font-normal leading-[0.8]">PHOTOSHOP</h3>
                    <p
                        class="md:text-[1.5rem] mt-4 md:mt-[1.87rem] text-[0.875rem] italic font-thin uppercase leading-[0.8]">
                        5 years</p>

                </div>
            </div>
            <div
                class="flex justify-between md:my-[2.5rem] my-[0.87rem] items-center gap-x-[1.65rem] md:gap-x-[3.44rem]">
                <div class="h-fit">
                    <img class="h-[3.39488rem] md:h-[7.6875rem]" src="/images/adobe-photoshop.png" alt="">
                </div>
                <div class="text-right">
                    <h3 class="md:text-[5rem] texy-[1.247rem] font-normal leading-[0.8]">PHOTOSHOP</h3>
                    <p
                        class="md:text-[1.5rem] mt-4 md:mt-[1.87rem] text-[0.875rem] italic font-thin uppercase leading-[0.8]">
                        5 years</p>

                </div>
            </div>
            <div
                class="flex justify-between md:my-[2.5rem] my-[0.87rem] items-center gap-x-[1.65rem] md:gap-x-[3.44rem]">
                <div class="h-fit">
                    <img class="h-[3.39488rem] md:h-[7.6875rem]" src="/images/adobe-photoshop.png" alt="">
                </div>
                <div class="text-right">
                    <h3 class="md:text-[5rem] texy-[1.247rem] font-normal leading-[0.8]">PHOTOSHOP</h3>
                    <p
                        class="md:text-[1.5rem] mt-4 md:mt-[1.87rem] text-[0.875rem] italic font-thin uppercase leading-[0.8]">
                        5 years</p>

                </div>
            </div>
            <div
                class="flex justify-between md:my-[2.5rem] my-[0.87rem] items-center gap-x-[1.65rem] md:gap-x-[3.44rem]">
                <div class="h-fit">
                    <img class="h-[3.39488rem] md:h-[7.6875rem]" src="/images/adobe-photoshop.png" alt="">
                </div>
                <div class="text-right">
                    <h3 class="md:text-[5rem] texy-[1.247rem] font-normal leading-[0.8]">PHOTOSHOP</h3>
                    <p
                        class="md:text-[1.5rem] mt-4 md:mt-[1.87rem] text-[0.875rem] italic font-thin uppercase leading-[0.8]">
                        5 years</p>

                </div>
            </div>
            <div
                class="flex justify-between md:my-[2.5rem] my-[0.87rem] items-center gap-x-[1.65rem] md:gap-x-[3.44rem]">
                <div class="h-fit">
                    <img class="h-[3.39488rem] md:h-[7.6875rem]" src="/images/adobe-photoshop.png" alt="">
                </div>
                <div class="text-right">
                    <h3 class="md:text-[5rem] texy-[1.247rem] font-normal leading-[0.8]">PHOTOSHOP</h3>
                    <p
                        class="md:text-[1.5rem] mt-4 md:mt-[1.87rem] text-[0.875rem] italic font-thin uppercase leading-[0.8]">
                        5 years</p>

                </div>
            </div>
        </div>
        <div class=" border-white border-b-[0.0625rem] py-[1.5rem] px-[0.69rem] md:px-[1.69rem] md:py-[3.44rem]">
            <h2 class="text-base md:text-2xl font-thin italic capitalize leading-[0.7]">Work Experience</h2>
            <div class="mt-[2.38rem] md:mt-[10.5rem] md:grid md:grid-cols-6">
                <div class="md:col-span-5">
                    <h3 class="uppercase leading-[0.7] md:mb-[4.37rem] mb-[1.8rem] text-[1.89rem] md:text-[6.5625rem]">
                        YUJ Designs</h3>
                    <div class="text-xs md:text-[1.5rem] font-thin mb-8 italic grid grid-cols-2">
                        <p>VX Designer</p>
                        <p>July 2022 - Present</p>
                    </div>
                </div>
                <p class="text-[0.875rem] font-thin md:font-light md:text-2xl">
                    Lorem ipsum dolor sit amet consectetur. Orci molestie pretium et amet. Quam amet tristique eu
                    imperdiet.
                </p>
            </div>
        </div>
        <div class="px-[0.69rem] md:px-[1.69rem] py-[1.5rem] border-white border-b-[0.0625rem] md:py-[3.44rem]">
            <h2 class="text-base md:text-2xl text-right font-thin italic capitalize leading-[0.7]">My Work</h2>
            <div class="md:mt-[9.81rem] mt-[1.94rem] md:columns-2 md:gap-[2.25rem] columns-1">
                <div
                    class="grid text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] ">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias1</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>
                <div
                    class="grid mt-[2.25rem] text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] ">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias2</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>

                <div
                    class="grid mt-[2.25rem] text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] align-bottom">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias3</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>
                <div class="md:flex h-32 hidden items-end mt-[2.25rem]">
                    <a class="flex">
                        <h4 class="uppercase border-b-2 border-white text-[4rem] leading-none">VIEW MORE</h4>
                        <div class="ml-6 mt-2"><svg width="46" height="47" viewBox="0 0 46 47" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.0863632 9.13079e-08H46V2.08889H0.0863632V9.13079e-08Z" fill="white" />
                                <path d="M0 45.1154L44.0306 1.04455L45.5063 2.52161L1.47572 46.5924L0 45.1154Z"
                                    fill="white" />
                                <path d="M46 9.13079e-08L46 47H43.913L43.913 0L46 9.13079e-08Z" fill="white" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="h-32 hidden md:block">

                </div>
                <div
                    class="grid mt-[2.25rem] text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] ">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias4</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>
                <div
                    class="grid mt-[2.25rem] text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] ">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias4</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>
                <div
                    class="grid mt-[2.25rem] text-white border-[1.054px] border-white px-[0.83rem] grid-cols-8 md:grid-cols-10 py-[0.7rem] relative after:content-[''] after:absolute after:top-0 after:bottom-0 after:w-full after:h-full after:z-10 after:mix-blend-difference overflow-hidden after:transition-all-09uy after:duration-300 after:ease-in after:border-0 after:border-white hover:after:border-[10rem] ">
                    <div class="col-span-7 md:col-span-9 md:h-[46.1875rem]  h-[20rem] 
                    overflow-hidden z-20 relative">
                        <img class=" object-cover object-center min-h-full min-w-full" src="/images/image-2.png" alt="">
                    </div>
                    <div class="justify-self-end col-span-1 space-y-2">
                        <div class="px-[0.63rem] py-[0.93rem] md:text-base text-[0.53044rem] border-[0.53px] rounded-[1.92288rem] border-white leading-[1]"
                            style="writing-mode: vertical-lr;">
                            3D Scene Creation
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-9 leading-none pt-2">
                        <h4 class="md:text-[3.625rem] text-[1.92rem] uppercase">Ozymandias4</h4>
                    </div>
                    <div
                        class="justify-self-end pt-2 pl-2 self-end md:text-[2.5rem] text-[1.326rem] italic font-thin leading-none">
                        <p>04</p>
                        <p>23</p>
                    </div>
                </div>
                <div class="flex h-[4.5rem] md:hidden items-end mt-[2.25rem]">
                    <a class="flex">
                        <h4 class="uppercase border-b-2 border-white text-[2.3rem] md:text-[4rem] leading-none">VIEW
                            MORE</h4>
                        <div class="ml-4 mt-2"><svg width="27" height="27" viewBox="0 0 27 27" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.665814 5.19266e-08H26.7768V1.18795H0.665814V5.19266e-08Z" fill="white" />
                                <path
                                    d="M0.616699 25.657L25.6568 0.59403L26.496 1.43404L1.45594 26.497L0.616699 25.657Z"
                                    fill="white" />
                                <path d="M26.7768 5.19266e-08L26.7768 26.7288H25.5899L25.5899 0L26.7768 5.19266e-08Z"
                                    fill="white" />
                            </svg>

                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="px-[0.69rem] md:px-[1.69rem] py-[1.5rem] border-white border-b-[0.0625rem] md:py-[3.44rem]">
            <h2
                class="lg:text-clamp-b-lg md:text-clamp-b-md xl:text-clamp-b-xl 2xl:text-clamp-b-2xl sm:text-clamp-b-sm text-clamp-b-xs uppercase leading-[0.7] ">
                Lets's get talking
            </h2>
            <div class="flex items-end mt-[2.25rem] md:mt-[6.75rem]">
                <div class="uppercase flex-grow text-[1rem] md:text-[4rem] leading-[0.7] ">
                    <p class="md:mb-12 mb-3">EMAIL</p>
                    <a class="border-b-2 border-white" href="mailto:me@parthsuratwala.com">me@parthsuratwala.com</a>
                </div>
                <div class="ml-auto">
                    <svg class="md:w-[45px] w-[11px] aspect-square" viewBox="0 0 45 45" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.0827637 8.74224e-08H44.0828V2H0.0827637V8.74224e-08Z" fill="white" />
                        <path d="M0 43.1956L42.1955 1.0001L43.6097 2.41431L1.41421 44.6098L0 43.1956Z" fill="white" />
                        <path d="M44.0828 8.74224e-08L44.0828 45H42.0828L42.0828 0L44.0828 8.74224e-08Z" fill="white" />
                    </svg>
                </div>
            </div>
            <div class="flex items-end mt-[2.25rem] md:mt-[6.75rem] mb-[1.25rem] md:mb-[4.75rem]">
                <div class="uppercase flex-grow text-[1rem] md:text-[4rem] leading-[0.7]">
                    <p class="md:mb-12 mb-3">instagram</p>
                    <a class="border-b-2 border-white" href="mailto:me@parthsuratwala.com">@lets_get_startedd</a>
                </div>
                <div class="ml-auto">
                    <svg class="md:w-[45px] w-[11px] aspect-square" viewBox="0 0 45 45" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.0827637 8.74224e-08H44.0828V2H0.0827637V8.74224e-08Z" fill="white" />
                        <path d="M0 43.1956L42.1955 1.0001L43.6097 2.41431L1.41421 44.6098L0 43.1956Z" fill="white" />
                        <path d="M44.0828 8.74224e-08L44.0828 45H42.0828L42.0828 0L44.0828 8.74224e-08Z" fill="white" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="px-[0.62rem] py-[1.5rem] border-white border-b-[0.0625rem] md:px-[4.19rem] md:py-[3.44rem]">
            <p class="italic text-sm md:text-4xl font-thin leading-[0.7] capitalize text-center my-[14rem]">your vision,
                my versatility</p>
        </div>
        <script>
            const aboutsDiv = document.querySelectorAll('.about');
            aboutsDiv.forEach((divA) => {
                divA.addEventListener('click', () => {
                    aboutsDiv.forEach((div) => {
                        if (div != divA) {
                            const nextDiv = div.nextElementSibling;
                            nextDiv.classList.remove('max-h-[100rem]');
                        }
                    });
                    divA.querySelector('svg').classList.toggle('rotate-180');
                    const nextDiv = divA.nextElementSibling;
                    console.log(nextDiv);
                    nextDiv.classList.toggle('max-h-[100rem]');
                });
            });

        </script>
        <svg width="30" id="arrow" class="curso" style="display:hidden;position:fixed;mix-blend-mode:difference;" viewBox="0 0 24 39" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M13.5 2C13.5 1.17157 12.8284 0.5 12 0.5C11.1716 0.5 10.5 1.17157 10.5 2L13.5 2ZM10.9393 38.0611C11.5251 38.6469 12.4749 38.6469 13.0607 38.0611L22.6066 28.5152C23.1924 27.9294 23.1924 26.9797 22.6066 26.3939C22.0208 25.8081 21.0711 25.8081 20.4853 26.3939L12 34.8792L3.51472 26.3939C2.92893 25.8081 1.97918 25.8081 1.3934 26.3939C0.80761 26.9797 0.80761 27.9294 1.3934 28.5152L10.9393 38.0611ZM10.5 2L10.5 37.0005L13.5 37.0005L13.5 2L10.5 2Z"
                fill="white" />
        </svg>
        <%- include('partials/footer.ejs') %>