<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<header
class="lg:text-clamp-lg md:text-clamp-md xl:text-clamp-xl 2xl:text-clamp-2xl sm:text-clamp-sm text-clamp-xs uppercase leading-[0.5]">
<div class="flex p-[0.42rem] md:p-[2rem] justify-between border-b-[0.0625rem] border-white">
    <h1>PORTFOLIO</h1>
</div>
</header>

<%- include('partials/footer.ejs') %>